CLIENT_ORIGIN=http://localhost:8080
PORT=3000

MONGO_URI=mongodb://localhost:27017/empowerher

# Get these from https://console.twilio.com/
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here

VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
